@tailwind base;
@tailwind components;
@tailwind utilities;

.card-decks {
  display: grid;
  grid-template-columns: 1fr 300px;
}

/* ::view-transition-new(IJ) {
  outline: 10px solid red;
}

::view-transition-old(IJ) {
  outline: 10px solid green;
} */

